BasedOnStyle: LLVM

AccessModifierOffset: -4
BreakBeforeBraces: Linux
ColumnLimit: 0
IndentCaseLabels: true
IndentWidth: 4
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 8
BreakBeforeBinaryOperators: NonAssignment
SpaceBeforeCaseColon: false
AlignTrailingComments: false
ForEachMacros: [
  K_LIST_FOREACH, 
  K_LIST_ENUMERATE, 
  K_LIST_ZIP,
]
